
{% extends "base.html.twig" %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-wrapper">
    <img src="img/symfony-dark.png" class="symfony">
    <h1>Welcome to mvc</h1>
    <p>The course mvc (Objectoriented webbtechnologies) focuses on objectoriented programming tecniques in PHP.</p>
    <p>Classical objectoriented constructs are handled together with objectoriented programming in webbased frameworks and databases.</p>
</div>

{% endblock %}