{# templates/header.html.twig #}

<link href="css/header.css" rel="stylesheet"/>

<div class="header">
    <nav class="navbar">
        <a href="{{ path('home') }}">Home</a>
        <a href="{{ path('about') }}">About</a>
        <a href="{{ path('report') }}">Report</a>
    </nav>
</div>
