
{% extends "base.html.twig" %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-wrapper">
    <img src="img/sebbe.jpg" class="sebbe">
    <h1>Hi!</h1>
    <p>This is me! My name is sploob and i like programming and climbing, sometimes i even go outside to bike :D</p>
</div>

{% endblock %}