{# templates/report.html.twig #}
<html>
    <head>
        <link href="css/base.css" rel="stylesheet"/>
        <link href="css/report.css" rel="stylesheet"/>
    </head>
    <body>
        {% block header %}
            {% include ('header.html.twig') %}
        {% endblock %}
        

        <div class="page-wrapper">
            <h1>Reports</h1>
            <div class="r-container">
                <div class="report">
                    <h3>Kmom01</h3>
                    <p>ooga booga1</p>
                    <p>ooga booga1</p>
                    <p>ooga booga1</p>
                    <p>ooga booga1</p>
                    <p>ooga booga1</p>
                    <p>ooga booga1</p>
                    <p>ooga booga1</p>
                </div>
            </div>
            <div class="r-container">
                <div class="report">
                    <h3>Kmom02</h3>
                    <p>ooga booga1</p>
                    <p>ooga booga1</p>
                    <p>ooga booga1</p>
                    <p>ooga booga1</p>
                    <p>ooga booga1</p>
                    <p>ooga booga1</p>
                    <p>ooga booga1</p>
                </div>
            </div>
        </div>

        {% block footer %}
            {% include ('footer.html.twig') %}
        {% endblock %}
    </body>
</html>
